<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diet.ia | Dieta Inteligente</title>
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <header>
        <div class="logo"><a href="/home">diet.ia</a></div>
        <nav>
            <ul>
                <li><a href="anamnesis_summary" class="button"><i class="fas fa-file-medical-alt"></i></a></li>
                <li><a href="profile" class="button"><i class="fas fa-user"></i></a></li>
                <li><a href="logout">Sair</a></li>
            </ul>
        </nav>
    </header>    
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Sua Dieta Inteligente</h1>
                <h4>Dieta rápida e exclusiva</h4>
                <p>com <b>inteligência artificial</b> e aprovada por <br>  <b>especialistas</b></p>
                <div class="hero-buttons">
                    <a href="/anamnese" class="button">Criar um plano</a>
                </div>
            </div>
            <div class="hero-image">
                <img src="../../static/img/nutri.jpeg" alt="Healthy Food">
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 diet.ia. All rights reserved.</p>
        <ul>
        </ul>
    </footer>
</body>
</html>
