body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../../../static/img/nutri.jpeg");
    background-size: cover;
    background-position: center;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-column {
    flex: 1;
    min-width: 300px;
    padding: 10px;
  }
  
  .flex-column {
    padding-top: 8px;
  }
  
  header {
    font-family: Arial, sans-serif;
    background-color: #7fc242;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  header .logo a {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.3s ease-in-out;
  }
  
  .input {
    width: calc(100% - 24px);
    padding: 10px;
    margin-left: 4px;
    border-radius: 10px;
    border: none;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #68a937;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #68a937;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    width: 100%;
    padding: 10px;
    background: #68a937;
    color: white;
    text-decoration: none;
    color: inherit;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .button-submit:hover {
    background-color: #252727;
    transition: 0.8ms;
    cursor: pointer;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid #68a937;
  }
  